body {
  display: grid;
  place-items: center;
  min-width: 300px;
  font-family: "PT Sans", sans-serif;
  background-color: #e9c46a;
}

select {
  font-size: 1rem;
  padding: 0.45em 6em 0.45em 1.5em;
  background: #edf2f4;
  /* background: #fdfcdc; */
  color: black;
  border: 0;
  appearance: none;
  font-family: "PT Sans", sans-serif;
}

.custom-select {
  position: relative;
}

.custom-arrow {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  background: #6b6969f3;
  height: 100%;
  width: 3em;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 0.65em;
  --color: white;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid var(--color);
  top: 35%;
}

.custom-arrow::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid var(--color);
  top: 70%;
}

h3 {
  margin: 0;
}

